<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="/account">
        <input type="hidden" value="login" name="foo">
        <button type="submit">Login</button>
    </form>

    <form method="post" action="/account">
        <input type="hidden" value="register" name="foo">
        <button type="submit">Register</button>
    </form>



</body>
</html>