<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour de App</title>

    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="../public/login.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/d8655b52b5.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h1>Programátorův deník</h1>

        <div class="flex-container">
            <form action="/login" method="post">

                <div class="login-form">

                    <div class="login-form-props">
                        <label class="login-labels" for="nameEmail">Username/Email</label>
                        <input type="text" name="nameEmail" class="login-input" required>
                    </div>
                    
                    <div class="login-form-props">
                        <label class="login-labels" for="password">Heslo</label>
                        <input type="password" name="password" class="login-input" required>
                    </div>

                    <% if (!success) { %>
                        <p>Špatné heslo nebo Username/Email.</p>
                    <%}%>
                    
                    <button type="submit" class="login-button">Login</button>
            

                </div>
                
            </form>
        </div>

    </div>





</body>
</html>