<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript" src="../public/statistika.js"></script>
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap" rel="stylesheet">


</head>
<body>
        <div>
        <h1>&lt;Up<span style="color: black">Shop</span>&gt;</h1>

        <nav>
            <a href="/poznamky">Poznamky</a>
            <a href="/statistika">Statistika</a>

            </nav>

    

        <div class="content">

            <div class="stat-first-line">
                <div class="statBox">
                    <p class="heading-stat">Up-time serveru</p>
                    <p class="server-time"></p>
                </div>

                <div class="statBox">
                    <p class="heading-stat">Version</p>
                    <p class="server-version"></p>
                </div>
        
                <div class="statBox">
                    <p class="heading-stat">Celkem</p>
                    <p class="all-commits"></p>
                </div>

            </div>
            <div class="lastBox">
                <p class="heading-stat">Poslední commit</p>
                <p class="name"></p>
                <p class="lastTime"></p>
                <p class="desc"></p>
            </div>

        </div>



        

         
                
    </div>
    

    
    
        

    </div>
    
    



    <!-- test -->
    <!-- <button onclick="fetchAll()">fetch</button> -->


</body>
</html>