.login-labels {
    color: white;
    margin-bottom: 2px;
    font-size: 17px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-form-props {
    display: flex;
    flex-direction: column;
}

.login-input {
    height: 20px;
    font-size: 17px;
}

.login-button {
    font-size: 17px;
}