/* .container {
    display: flex;
    flex-direction: column;
    background: #D3D3D3;
    align-items: center;
}



.stickynote{
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 20px;


background: #D75A00;
border-radius: 7px;
}

.text{
    width: 223px; 
     height: 182px; 
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #FFFFFF;
}

.podpis{
width: 206px;
height: 23px;

font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
} */

/* .light-box {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    height: 150%;
    width: 100%;
    visibility: hidden;
}



h1 {
     width: 339px;
height: 100px;
text-align: center;

font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 100px;
text-align: center;
letter-spacing: -0.1em;

color: #D75A00;
}

.stat-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}

.serverTimeBox {
    width: 10vh;
    height: 10vh;
    background-color: #D75A00;
}

.lastCom {
    background-color: #D75A00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}  */

body {
    background: #D3D3D3;
    font-family: 'Mulish';
    font-weight: 400;
}

h1 {
    font-size: 8vh;
    text-align: center;
    color: #D75A00;
    font-weight: 500;
    letter-spacing: -0.1em;
}
 .add-div {
    z-index: 2;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    display: flex;

    border-radius: 41px;

    flex-direction: column;
    gap: 10px;
    color: rgba(255, 255, 255, 0.8);
    border: solid;
    background-color: black;
    padding: 3vh;
} 

.add-div form input {
    font-size: 3vh;
}

.add-div form button {
    font-size: 3vh
}

.notes .box form button {
    font-size: 3vh;
}

.sign {
    font-weight: 300;
    font-size: 2vh;
}
 .light-box {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    height: 150%;
    width: 100%;
    visibility: hidden;
}

.box {
    height: 30vh;
    width: 30vh;
    background-color: #D75A00;
    overflow: hidden;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
}

.box p {
    inline-size: 28vh;
    overflow-wrap: break-word;
    text-align: center;
}

p {
    font-size: 2vh;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    text-decoration: none;
    
}

nav a {
    font-size: 3vh;
}

.addBut {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    font-size: 3vh;
/* background-color: #76439E; */
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
width: 10vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    color: white;
}

.statBox {
    height: 25vh;
    width: 25vh;
    background-color: #D75A00;
    border-radius: 7px;
}
.heading-stat {
    font-weight: 600;
}

.stat-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px

}

.lastBox {
    /* height: 30vh;
    width: 60vh; */
    background-color: #D75A00;
    /* inline-size: 20vh;
    overflow-wrap: break-word; */
    border-radius: 7px;
}

.lastBox p {
    text-align: center;
    padding: 20px;
}

.statBox p {
    text-align: center;
    padding: 20px;
}
